/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* @import 'semantic-ui-css'; */

.ui.inverted.menu .item {
    padding-top: 10px;
    padding-bottom: 10px;
}
header.container {
    margin-top: 5em;
    margin-bottom: 1em;
}
.ui.breadcrumb {
    margin-bottom: 20px;
}
.permissions-container {
    margin-top: 20px;
}